<% layout('layouts/boilerplate') %>
    <main>
        <h1>Edit Community</h1>
        <form method="POST" action="/community/<%= community._id %>/edit?_method=PATCH">
            <label for="name">Community Name</label>
            <input type="text" name="name" id="name" alt="Community Name" value="<%= community.name %>" required>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" alt="Community Description" value="<%= community.description %>" required>
            <button>Save Changes</button>
        </form>
    </main>
<<<<<<< HEAD
=======

    <a href="/">Home</a>

</body>
</html>
>>>>>>> a1e218500a00a80d50540015db19e8c39ba5f3b7
