<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Community</title>
</head>
<body>
    <main>
        <h1>Create New Community</h1>
        <form method="POST" action="/community/new">
            <label for="name">Community Name</label>
            <input type="text" name="name" id="name" alt="Community Name" required>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" alt="Community Description" required>
            <button>Create</button>
        </form>
    </main>

    <a href="/">Home</a>

</body>
</html>