<% layout('layouts/boilerplate') %>
    <main>
        <h1><%= community.name %></h1>
        <p><%= community.description %></p>
        <form method="POST" action="/community/<%= community._id %>?_method=DELETE" >
            <button>Delete Community</button>
        </form>
        <a href="/community/<%= community._id %>/edit">Edit Community</a>
<<<<<<< HEAD
    </main>
=======
    </main>

    <a href="/">Home</a>

</body>
</html>
>>>>>>> a1e218500a00a80d50540015db19e8c39ba5f3b7
