<% layout('layouts/boilerplate') %>
    <main>
        <% if(communities.length === 0){ %>
            <h1>No Communites Available!!</h1>
        <% } else{ %>
        <h1>All Communities</h1>
        <ul>
            <% for(let community of communities){ %>
                <li><a href="/community/<%= community._id %>/show"><%= community.name %></a></li>
            <% } %>
        </ul>
        <% } %>
        <a href="/community/new">Create Community</a>
        <br>
        <a href="/user/login">Login</a>
        <br>
        <a href="/user/register">Register</a>
    </main>
