<% layout('layouts/boilerplate') %>
    
<div class="container col-md-4">
    <h1>Edit</h1>

    <form action="/user/<%= user._id %>/profile/edit?_method=patch" method="post" class="row g-3 needs-validation" novalidate>


        <div class="row-md-4 mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%=user.username%>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <div class="row-md-4 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <!-- cannot update password like that  -->

        <!-- <div class="row-md-4 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div> -->

        <button class="btn btn-success" type="submit">Update</button>
        <div class="row-md-4">
            <a href="/user/<%=user.id%>/profile" class="card-link">Back to profile</a>
        </div>

    </form>
</div>

