<% layout('layouts/boilerplate') %>
    
<div class="container col-md-4">
    <h1>Edit</h1>

    <form action="/user/<%= user._id %>/profile/edit?_method=patch" method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">

        <div class="row-md-4 mb-3">
            <label for="userImage">Change profile image : </label>
            <input type="file" name="userImage" id="userImage">
          </div>

        <div class="row-md-4 mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required value="<%=user.username%>">
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <div class="row-md-4 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required value="<%=user.email%>">
            <div class="valid-feedback">
              Looks good!
            </div>
        </div> 

        <button class="btn btn-success" type="submit">Update</button>
        <div class="row-md-4">
            <a href="/user/<%=user.id%>/profile" class="card-link">Back to profile</a>
        </div>

    </form>
</div>

