<% layout('layouts/boilerplate') %>

<div class="container col-md-4">
    <h1>Register</h1>

    <form action="/user/register" method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">

        <div class="row-md-4 mb-3">
          <label for="userImage">Add profile image : </label>
          <input type="file" name="userImage" id="userImage">
        </div>
        <div class="row-md-4 mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <div class="row-md-4 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <div class="row-md-4 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>

        <a href="/user/login">Already have an account ? login</a>

        <button class="btn btn-success" type="submit">Register</button>

    </form>
</div>
