<% layout('layouts/boilerplate') %>
<main class="mx-5 mt-5">
    <div class="container">
        <h1>Forgot Password</h1>
        <form action="/user/forgot" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>
    </div>
</main>
